.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-signup-box {
  margin-left: 1100px !important;
}

.app-icon {
  max-width: 120px;
  max-height: 120px;
  margin-left: 20px;
  margin-top: 10px;
}

.font-style {
  margin-top: 30px;
  color: #574da2;
  font-weight: 50px;
  padding-right: 50px;
  padding-left: 50px;
  font-style: italic;
  font-size: 50px;
}

.header-style {
  background-color: #171616;
}

.movie-card {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 600px;
  min-height: 250px;
  background-color: #ccf4f7;
}

.movie-name {
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 20px;
  font-style: italic;
  font-size: 35px;
  color: #473c6f;
}

.movie-poster {
  max-width: 600px;
  max-height: 250px;
}

.show-card {
  margin-top: 40px;
  max-width: 600px;
  max-height: 200px;
}

.select-button {
  margin-top: 20px;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  cursor: pointer;
}

.seats-row {
  padding-left: 90px;
  padding-right: 90px;
}

.price-label {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #256f28;
}

.form-check {
  position: inherit;
  display: inline-block;
}

.booking-button {
  padding-left: 80px;
}

.booking-card {
  margin-top: 50px;
  margin-bottom: 20px;
  max-width: 500px;
  max-height: 200px;
  background-color: #e0d9b6;
}

.navigation-bar {
  background-color: #384250;
  min-height: 1000px;
  max-width: 200px;
}

.nav-font {
  margin-top: 20px;
  margin-left: 20px;
  font-size: x-large;
  color: #e4efee;
}

.page-link {
  background-color: #8a939c !important;
  border-color: #8a939c !important;
}

.table-headers {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  color: #4b7396;
}

.pagination {
  padding-left: 150px !important;
}

.create-button {
  margin-top: 35px;
  margin-left: 160px;
  color: ;
}

.report-header {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 25px;
  color: #4b7396;
}

.login-button {
  margin-top: 40px;
  margin-right: 10px;
}

.back-button {
  margin-left: 400px;
  margin-top: 40px;
  color: ;
}

.movies-list {
  background-color: #ccf4f7;
  min-height: 500px;
}

.listing-font {
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 20px;
  font-style: italic;
  font-size: 20px;
  color: #473c6f;
}